@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  margin: 0;
}

#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-position: center;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.page-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 40vmin;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.banner #logo {
  width: 100%;
}

.banner .socials {
  display: inline-flex;
  margin: 4rem 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.banner .socials .icon {
  width: 2rem;
  height: 2rem;
}

.sound-setting {
  position: absolute;
  display: flex;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
}

.sound-setting img {
  position: absolute;
  width: 100%;
  cursor: pointer;
}
.sound-setting img#off {
  width: 80%;
}

.sound-setting[data-sound="ON"] img#off{
  display: none;
}
.sound-setting[data-sound="OFF"] img#on{
  display: none;
}

#fullscreen {
  text-align: left;
  width: max-content;
  text-transform: uppercase;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.3rem;
  animation: flow 2s ease-out forwards;
  animation-delay: 2.8s;
  cursor: pointer;
  opacity: 0;
}

@keyframes flow {
  0% {
    letter-spacing: 0.4rem;
    opacity: 0;
  }
  100% {
    letter-spacing: 0.9rem;
    opacity: 0.7;
  }
}